In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('customer.csv')
df.sample(5)

    age  gender   review education purchased
34   86    Male  Average    School        No
47   38  Female     Good        PG       Yes
33   89  Female     Good        PG       Yes
24   16  Female  Average        PG       Yes
37   94    Male  Average        PG       Yes

In [ ]:
df = df.iloc[:,2:]
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [24]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size=0.2)
x_train.shape,y_train.shape

((40, 2), (40,))

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

oe.fit(x_train)

x_train = oe.transform(x_train)

In [ ]:
x_train

array([[0., 1.],
       [0., 0.],
       [2., 1.],
       [2., 2.],
       [1., 1.],
       [1., 1.],
       [1., 2.],
       [1., 0.],
       [0., 2.],
       [0., 2.],
       [2., 1.],
       [2., 0.],
       [0., 2.],
       [2., 1.],
       [1., 0.],
       [2., 0.],
       [2., 1.],
       [2., 2.],
       [2., 0.],
       [0., 2.],
       [1., 1.],
       [2., 0.],
       [0., 0.],
       [2., 0.],
       [0., 2.],
       [2., 2.],
       [2., 0.],
       [0., 2.],
       [1., 2.],
       [2., 2.],
       [0., 2.],
       [1., 0.],
       [0., 0.],
       [0., 1.],
       [0., 2.],
       [1., 1.],
       [1., 2.],
       [2., 2.],
       [2., 1.],
       [0., 0.]])

In [27]:
oe.categories

[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']]

In [32]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

le.fit(y_train)
le.classes_

y_train = le.transform(y_train)
y_test = le.transform(y_test)

y_train

array([0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1])